{% extends 'no_patience/base.html' %}
{% load static %}

{% block content %}
  <!-- chat component -->
  <main class="chat-main">  
    <div id="chatMessages" class="chat-messages-container">
      <div class="message-wrapper message-left">
        <div class="message-container">
          <img src="{% static 'images/pulse_PFP.png' %}" alt="Avatar" class="message-avatar avatar-left"/>
          <div class="message-content">
            <span class="name-left">Pulse</span>
            <p class="message-text">Hello. How are you today?</p>
            <span class="message-time time-left">11:00 AM</span>
          </div>
        </div>
      </div>

      <div class="message-wrapper message-right">
        <div class="message-container">
          <div class="message-content">
            <p class="message-text">Hey! I'm fine. Thanks for asking!</p>
            <span class="message-time time-right">11:01 AM</span>
          </div>
        </div>
      </div>

      <div class="message-wrapper message-left">
        <div class="message-container">
          <img src="{% static 'images/pulse_PFP.png' %}" alt="Avatar" class="message-avatar avatar-left"/>
          <div class="message-content">
            <span class="name-left">Pulse</span>
            <p class="message-text">Sweet! So, what are you looking for today?</p>
            <span class="message-time time-left">11:02 AM</span>
          </div>
        </div>
      </div>

      <div class="message-wrapper message-right">
        <div class="message-container">
          <div class="message-content">
            <p class="message-text">I'm looking for a new healthcare provider!</p>
            <span class="message-time time-right">11:05 AM</span>
          </div>
        </div>
      </div>

      <div class="login-disclaimer">
        <p>Login to save chats.</p>
      </div>
    </div>
    
    <div class="chat-input-wrapper" id="chatInputWrapper">
      <button id="attachButton" class="chat-attach-button">+</button>
      <input id="chatInput" class="chat-input-field" type="text" placeholder="Type your message..." />
      <button id="sendButton" class="chat-send-button">Send</button>
    </div>

    <div class="disclaimer" id="disclaimer">
      <p><a href="/login/">Login</a> to save your chat history.</p>
      <p>Pulse can make mistakes. Check important information.</p>
    </div>
  </main>
{% endblock content %}