{% extends 'no_patience/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
  <!-- chat component -->

  <main class="chat-main">
    <div id="chatMessages" class="chat-messages-container">
      {% for message in messages %}
        {% if message.sent_by_bot %}
          <div class="message-wrapper message-left">
            <div class="message-container">
              <img src="{% static 'images/pulse_PFP.png' %}" alt="Avatar" class="message-avatar avatar-left"/>
              <div class="message-content">
                <span class="name-left">Pulse</span>
                <p class="message-text">{{ message.text }}</p>
                <span class="message-time time-left">{{ message.date_sent }}</span>
              </div>
            </div>
          </div>
        {% else %}
        <div class="message-wrapper message-right">
            <div class="message-container">
              <div class="message-content">
                <p class="message-text">{{ message.text }}</p>
                <span class="message-time time-right">{{ message.date_sent}}</span>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}


    </div>

    <div class="login-disclaimer">
      <p>Login to save chats.</p>
    </div>
    
    <div class="chat-input-wrapper" id="chatInputWrapper">
      <button id="attachButton" class="chat-attach-button">+</button>
      <form action="{% url 'no_patience:reload' chat.id 0%}" method='post'>
        {% csrf_token %}
        {{ message_form.as_div }}
        <!--<input id="chatInput" class="chat-input-field" type="text" placeholder="Type your message..." />-->
        <button id="sendButton" class="chat-send-button">Send</button>
      </form>
    </div>

    <div class="disclaimer" id="disclaimer">
      <p><a href="{% url 'accounts:login' %}">Login</a> to save your chat history.</p>
      <p>Pulse can make mistakes. Check important information.</p>
    </div>
  </main>
{% endblock content %}